div#menu_bar{
	text-align: center;
	color: #427AA1;
	border:10px solid;
	border-color: #427AA1;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding-bottom:25px;	
	height: 50px;
	margin:0;
	background-color: #EBF2FA;
	
}
a.nostyle:link,a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
}

div#article_title{
	margin-top:100px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:0px;
	text-align: center;
	color: #EBF2FA;
	background-color: #064789;
}
div#article_content{
	margin-top: 0px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	text-align: left;
	padding: 10px;
	color: #173A5E;
	background-color: #EBF2FA;
}
h1{
	font-size: 24pt;
}

h3{
	padding-left: 50px;
	font-size: 16pt;
}
h5{
	padding-left: 80px;
	font-size: 14pt;
}

body{
	margin:0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #427AA1;
}
p{
	font-size: 12pt;
	padding-left: 100px;
}
ul{
	font-size: 12pt;
	padding-left: 100px;
}
