div#menu_bar{
	text-align: center;
	color: #ACC18A;
	border:10px solid;
	background-color: red;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding-bottom:25px;	
	height: 50px;
	margin:0;
	background-color: #F2FBE0;
	
}
a.nostyle:link,a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
}

div#article_title{
	margin-top:100px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:0px;
	text-align: center;
	color: #F2FBE0;
	background-color: #889B74;
}
div#article_content{
	margin-top: 0px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	text-align: left;
	padding: 10px;
	color: #605B56;
	background-color: #F2FBE0;
}
h1{
	font-size: 24pt;
}

h3{
	padding-left: 50px;
	font-size: 16pt;
}
h5{
	padding-left: 80px;
	font-size: 14pt;
}

body{
	margin:0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #ACC18A;
}

p{
	font-size: 12pt;
	padding-left: 100px;
	color:	#837A75;
}
ul{
	font-size: 12pt;
	padding-left: 100px;
	color:	#837A75;
}
